.video-preview {
  cursor: pointer;
}

.channel-photo {
  border-radius: 50px;
  height: 40px;
}

.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
  position: relative;
  pointer-events: none;
}

.video-info-grid:hover .channel-info {
  opacity: 1;
}

.channel-picture {
  pointer-events: auto;
}

.channel-info {
  background-color: rgb(161, 159, 161);
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: 50px 1fr 1fr;
  align-items: center;
  column-gap: 5px;
  border-radius: 10px;
  padding: 3px 10px;
  opacity: 0;
  transition: opacity 0.3s;
}

.channel-stats {
  color: white;
  font-family: robot, arial;
  font-size: 16px;
}

.video-info:hover {
  pointer-events: none;
}

.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
}

.thumbail-row {
  margin-bottom: 8px;
  position: relative;
}

.channel-photo {
  width: 36px;
  border-radius: 50%;
}

.video-title {
  width: 300px;
  font-size: 17px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 10px;
  line-height: 20px;
}

.thumbail {
  width: 100%;
}

.video-author,
.video-stats {
  margin-bottom: 0;
  margin-top: 3px;
  color: rgb(96, 96, 96);
}

.video-author {
  margin-bottom: 4px;
}

.video-time {
  font-family: roboto, arial;
  font-size: 12px;
  background-color: black;
  color: white;
  padding: 2px;
  border-radius: 2px;
  position: absolute;
  right: 5px;
  bottom: 10px;
  font-weight: 500;
}

@media (max-width: 750px) {
  .video-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 751px) and (max-width: 999px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1000px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
